version: '{{ docker_compose_file_version }}'
services:
  apache2:
    container_name: apache2
    image: php:{{ apache2_docker_version }}
    volumes:
      - /var/apps/apache2/volumes/conf/apache2.conf:/etc/apache2/apache2.conf
      - /var/apps/apache2/volumes/conf/ports.conf:/etc/apache2/ports.conf
      - /var/apps/apache2/volumes/conf/sites-enabled:/etc/apache2/sites-enabled
    ports:
      - {{ ansible_ssh_host | default(ansible_host) }}:81:81
    networks:
      vm_net:
        ipv4_address: {{ apache2_docker_ip }}
    restart: always
networks:
  vm_net:
    driver: bridge
    ipam:
      config:
        - subnet: {{ apache2_docker_subnet }}
