[Unit]
Description=Redis key-value database
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis/{{ redis_cluster_config }} 
ExecStop=/usr/libexec/redis-shutdown
Type=notify
User=redis
Group=redis
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target
